*{
    font-family: 'Wallpoet', cursive;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-image: url("../Game/images/game_cover.png");
    background-size: cover;
    overflow: hidden;
    
}
.bg{
    position: absolute;
    width:100%;
    height: 100%;
    background: inherit;
    filter: blur(3px) brightness(70%); 
    /* filter: blur(3px);  */
}

#aaa{
    
    position: absolute;
    
    left: 30%;
    margin-top: 10%;
    transform: translateY(-15%);
    z-index: 10;
}
#myGame {
    position: relative;
    border:1px solid #ddd;
}

#asdf{
    border:1px solid #ddd;
    position: fixed;
    width:700px;
    height:700px;
    color: #f52f2f;
    background-color: #000; 
    font-size: 80px;
    text-align: center;
    padding-top: 200px;
    display: none;
    z-index: 10;
}
#startBtn{
    margin: 50px;
    background-color: #209cee;
    border-color: transparent;
    border-radius: 5px;
    color : #fff;
    font-size: 1rem;
    height: 2.25em;
    width: 7em;
    transition: all;
    transition-duration: 0.4s;
    cursor: pointer;
}
#startBtn:hover{
    background-color: #2280bd;
    transition-duration: 0.5s;
}
#time{
    position: absolute;
    padding: 30px;
    color:#fff;
}